<h1>Here is a list of comments</h1>

<%user = @user%>
<%post = @post%>

<div class="comments-container">
  <% Comment.where(post_id:post.id).each do |comment| %>
    <div class="comment-container">
      <%author = User.find_by(id: comment.author_id)%>
      <p><%=author.name%>: <%=comment.text%></p>
    </div>
  <% end %>
</div>
