body {
  max-width: 512px;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  justify-content: center;
  text-align: center;
}

.user-container {
  display: flex;
}

.user-container img {
  width: 100px;
  height: 100%;
}

.user-name-box {
  display: flex;
  border: 1px solid;
  width: 100%;
  justify-content: space-between;
}

.user-name-box a {
  margin: 16px 0 0 16px;
  font-size: 32px;
}

.user-name {
  margin: 16px 0 0 16px;
  font-size: 32px;
}

.user-number-of-posts {
  align-self: flex-end;
}

.user-bio {
  border: 1px solid;
}

.post-container {
  border: 1px solid;
  margin: 16px 0;
}

.post-comments-likes {
  display: flex;
  justify-content: end;
}

.see-all-posts-btn {
  text-align: center;
  margin: 16px;
}

.comment-container {
  border: 1px solid #FF0000;
}

.sign-up-container,
.log-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new_user {
  width: 100%;
}

.actions,
.notice,
.alert,
.button_to,
.field {
  text-align: center;
}

.field input {
  width: 80%;
}

#user_remember_me {
  width: 10px;
}
